<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr" version="3.4.1.9004" targetFramework="net45" />
  <package id="AutoMapper" version="6.2.2" targetFramework="net45" />
  <package id="bootstrap" version="3.0.0" targetFramework="net45" />
  <package id="Castle.Core" version="4.2.1" targetFramework="net461" />
  <package id="elmah" version="1.2.2" targetFramework="net45" />
  <package id="elmah.corelibrary" version="1.2.2" targetFramework="net45" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net461" />
  <package id="FluentMigrator" version="2.0.3" targetFramework="net461" />
  <package id="FluentMigrator.Abstractions" version="2.0.3" targetFramework="net461" />
  <package id="FluentMigrator.Extensions.SqlAnywhere" version="2.0.3" targetFramework="net461" />
  <package id="FluentMigrator.Extensions.SqlServer" version="2.0.3" targetFramework="net461" />
  <package id="FluentMigrator.Runner" version="2.0.3" targetFramework="net461" />
  <package id="FluentMigrator.Runner.Core" version="2.0.3" targetFramework="net461" />
  <package id="FluentMigrator.Runner.Db2" version="2.0.3" targetFramework="net461" />
  <package id="FluentMigrator.Runner.Firebird" version="2.0.3" targetFramework="net461" />
  <package id="FluentMigrator.Runner.Hana" version="2.0.3" targetFramework="net461" />
  <package id="FluentMigrator.Runner.Jet" version="2.0.3" targetFramework="net461" />
  <package id="FluentMigrator.Runner.MySql" version="2.0.3" targetFramework="net461" />
  <package id="FluentMigrator.Runner.Oracle" version="2.0.3" targetFramework="net461" />
  <package id="FluentMigrator.Runner.Postgres" version="2.0.3" targetFramework="net461" />
  <package id="FluentMigrator.Runner.Redshift" version="2.0.3" targetFramework="net461" />
  <package id="FluentMigrator.Runner.SqlAnywhere" version="2.0.3" targetFramework="net461" />
  <package id="FluentMigrator.Runner.SQLite" version="2.0.3" targetFramework="net461" />
  <package id="FluentMigrator.Runner.SqlServer" version="2.0.3" targetFramework="net461" />
  <package id="FluentMigrator.Runner.SqlServerCe" version="2.0.3" targetFramework="net461" />
  <package id="FluentScheduler" version="5.3.0" targetFramework="net45" />
  <package id="FluentValidation" version="7.5.2" targetFramework="net461" />
  <package id="Google.Apis" version="1.32.0" targetFramework="net45" />
  <package id="Google.Apis.Auth" version="1.32.0" targetFramework="net45" />
  <package id="Google.Apis.Core" version="1.32.0" targetFramework="net45" />
  <package id="jQuery" version="1.9.0" targetFramework="net45" />
  <package id="LinFu.DynamicProxy.OfficialRelease" version="1.0.5" targetFramework="net461" />
  <package id="log4net" version="2.0.8" targetFramework="net45" />
  <package id="Microsoft.AspNet.Cors" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.Mvc" version="5.0.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor" version="3.0.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.SignalR" version="2.2.2" targetFramework="net45" />
  <package id="Microsoft.AspNet.SignalR.Core" version="2.2.2" targetFramework="net45" />
  <package id="Microsoft.AspNet.SignalR.JS" version="2.2.2" targetFramework="net45" />
  <package id="Microsoft.AspNet.SignalR.SystemWeb" version="2.2.2" targetFramework="net45" />
  <package id="Microsoft.AspNet.Web.Optimization" version="1.1.1" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.4" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.4" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Cors" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.HelpPage" version="5.0.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Owin" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages" version="3.0.0" targetFramework="net45" />
  <package id="Microsoft.CSharp" version="4.4.1" targetFramework="net461" />
  <package id="Microsoft.Owin" version="4.1.1" targetFramework="net461" />
  <package id="Microsoft.Owin.Cors" version="3.0.1" targetFramework="net45" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="3.0.1" targetFramework="net45" />
  <package id="Microsoft.Owin.Security" version="3.0.1" targetFramework="net45" />
  <package id="Microsoft.Owin.Security.OAuth" version="3.0.1" targetFramework="net45" />
  <package id="Microsoft.SqlServer.Compact" version="4.0.8876.1" targetFramework="net461" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="Modernizr" version="2.6.2" targetFramework="net45" />
  <package id="NEST" version="6.0.2" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net45" />
  <package id="Ninject" version="3.3.4" targetFramework="net461" />
  <package id="Ninject.Extensions.Interception" version="3.3.3" targetFramework="net461" />
  <package id="Ninject.Extensions.Interception.Linfu" version="3.3.3" targetFramework="net461" />
  <package id="Ninject.Extensions.NamedScope" version="3.3.0" targetFramework="net461" />
  <package id="Ninject.Web.Common" version="3.3.0" targetFramework="net461" />
  <package id="Ninject.Web.Common.OwinHost" version="3.3.0" targetFramework="net461" />
  <package id="Ninject.Web.Common.WebHost" version="3.3.0" targetFramework="net461" />
  <package id="Ninject.Web.WebApi" version="3.3.0" targetFramework="net461" />
  <package id="Ninject.Web.WebApi.OwinHost" version="3.3.0" targetFramework="net461" />
  <package id="Ninject.Web.WebApi.WebHost" version="3.3.0" targetFramework="net461" />
  <package id="Owin" version="1.0" targetFramework="net45" />
  <package id="Respond" version="1.2.0" targetFramework="net45" />
  <package id="Swashbuckle.Core" version="5.3.2" targetFramework="net45" />
  <package id="System.Collections.Concurrent" version="4.3.0" targetFramework="net461" />
  <package id="System.ComponentModel.Annotations" version="4.4.1" targetFramework="net461" />
  <package id="System.ComponentModel.Primitives" version="4.3.0" targetFramework="net461" />
  <package id="System.Net.Http" version="4.3.1" targetFramework="net45" requireReinstallation="true" />
  <package id="System.Net.Http.Formatting.Extension" version="5.2.3.0" targetFramework="net461" />
  <package id="System.Reactive" version="3.1.1" targetFramework="net461" />
  <package id="System.Reactive.Core" version="3.1.1" targetFramework="net461" />
  <package id="System.Reactive.Interfaces" version="3.1.1" targetFramework="net461" />
  <package id="System.Reactive.Linq" version="3.1.1" targetFramework="net461" />
  <package id="System.Reactive.PlatformServices" version="3.1.1" targetFramework="net461" />
  <package id="System.Reactive.Windows.Threading" version="3.1.1" targetFramework="net461" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net461" />
  <package id="Unity" version="3.5.1404.0" targetFramework="net45" />
  <package id="Unity.WebAPI" version="5.1" targetFramework="net45" />
  <package id="WebActivator" version="1.0.0.0" targetFramework="net45" />
  <package id="WebGrease" version="1.5.2" targetFramework="net45" />
</packages>