<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="ExceptionLoggerConnectionString"
      connectionString="Data Source=server;Initial Catalog=Tawjeeh;Integrated Security=SSPI;Connect Timeout=15;Encrypt=False;Packet Size=4096"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="TawjeehConnection"
      connectionString="Data Source=server;Initial Catalog=Tawjeeh;Integrated Security=SSPI;Connect Timeout=15;Encrypt=False;Packet Size=4096"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <appSettings>
    <add key="SwaggerURL" value="http://tawjeehapps.com:80/API" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="SwaggerParam" value="/API/bin" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="cors:allowOrigins" value="http://localhost:4200;http://localhost:1337;http://localhost:1338;" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="DecisionUploadFolderProd" value="C:\inetpub\wwwroot\Tawjeeh\UI\upload\decisionsFiles" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ArticleUploadFolderProd" value="C:\inetpub\wwwroot\Tawjeeh\UI\upload\articleFiles" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="CampaignUploadFolderProd" value="C:\inetpub\wwwroot\Tawjeeh\UI\upload\campaignFiles" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="LawUploadFolderProd" value="C:\inetpub\wwwroot\Tawjeeh\UI\upload\lawFiles" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="InitiativeUploadFolderProd" value="C:\inetpub\wwwroot\Tawjeeh\UI\upload\initiativeFiles" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>

  <system.web>
    <compilation debug="false" targetFramework="4.6.1" xdt:Transform="SetAttributes"></compilation>
    <!--<customErrors mode="On" xdt:Transform="SetAttributes"></customErrors>-->
  </system.web>
</configuration>
